* {
	margin: 0px;
}

body {
	width: 100%;
	width: 960px;
}

header, section, footer, aside, nav {
	display: block;
}

#header {
	width:100%;
	color: #fff;
	padding: 50px;
	background-color: white;
	font-family: 'Georgia', 'Times New Roman', Times, serif;
}

#name{
	background-color:#4aaaa5;
	float:left;	
	padding: 25px;
	margin-left: 45px;
	font-size: 20px;
}
	

#menu {
	float: right;
	padding: 20px;
	background: #fff;
	color: #eee;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 13px;
	list-style: none;
	display:inline-block;
	padding-top: -30px;
	padding-right: 180px;
	
}

#menu li{
	display:inline-block;
	list-style:none;
	padding:5px;

}

.container {
	border-top: 2px solid;
	border-color: #cccccc;
	margin: 0;
	width: 100%;
	background-image: url('concrete_seamless.png'); 
	margin: 20px auto;
	margin-left: 20px;
	overflow: auto;
	height: 100vh;
}

.clearfix:after {
	content:"";
	display: block;
	clear: both;
}

	section {
	border: 1px solid;
	border-color: #dddddd;
	padding: 70px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	margin-top: 40px;
	margin-left: 75px;
	margin-right: 30px;
	background-color: #ffffff;
	float: left;
	width: 45%;
}

	#bio-image {
		float: left;
		margin-right: 20px;
	}

	h2 {
		text-align: left;
		color: #4aaaa5;
		border-spacing: 30px;
		border-bottom: 2px solid;
		border-color: #dddddd;
	}

	aside {
	background-color: #ffffff;
	margin-top: 40px;
	margin-right: 50px;
	text-align: center;
	padding: 50px;
	padding-top: 20px;
	float: right; 
	width: 20%;
	border: 1px solid;
	border-color: #dddddd;
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	color: #777777;
}

	footer {
	position: absolute;
	bottom: -160px;
	background-color: #666666;
	color: #ccc;
	padding: 30px;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 10px;
	border-top:5px solid #4aaaa5;
	width: 82.7%;

}

.image{
	position: relative;
	width: 100%;
}

#pic1, #pic2, #pic3, #pic4, #pic5 {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 22px;
	margin-bottom: 20px;
}

h3 span{
	float: left;
	padding: 5px;
	color: white;
	background-color: #4aaaa5;
	text-align: center;
	position: absolute;
	top: 95px;
	left: 10px;
	width: 39.4%;
	font-size: 16px;
}

h4 span{
	position: absolute;
	float: left;
	padding: 6px;
	color: white;
	background-color: #4aaaa5;
	text-align: center;
	top: 336px;
	left: 338px;
	width: 15.4%;
	font-size: 16px;
}

h5 span{
	position: absolute;
	float: left;
	padding: 7px;
	color: white;
	background-color: #4aaaa5;
	text-align: center;
	top: 484px;
	left: 126px;
	width: 15.3%;
	font-size: 16px;
}

h6 span{
	position: absolute;
	float: left;
	padding: 6px;
	color: white;
	background-color: #4aaaa5;
	text-align: center;
	top: 485px;
	left: 338px;
	width: 15.4%;
	font-size: 16px;
}

h7 span{
	position: absolute;
	float: left;
	padding: 6px;
	color: white;
	background-color: #4aaaa5;
	text-align: center;
	top: 636px;
	left: 126px;
	width: 15.4%;
	font-size: 16px;
}

label {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	color: #777777; ;
}
#fname, #email {
	width: 100%;
	height: 20px
}

#message {
	width: 100%;
	height: 130px;
}

#submit {
	padding: 8px;
	background-color: #4aaaa5;
	color: white;
	font-size: 13px;
	width: 20%;
}








